div.SignUp {
    div.background--image {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    div.form--section {
        background-color: #fff;
    }
}