section.Services {
    div.services--section,
    div.online--poker--section,
    div.contact--section {
        display: block;
        p.heading {
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.4);
            font-weight: 800;
        }
        div.sub--heading {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 40px;
            display: block;
            color: var(--dark-text);
        }
        ul.services--list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                flex: 0 1 24%;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                @media (max-width: 600px) {
                    flex: 0 1 100%;
                }
                button.icon--and--primary--text {
                    outline: none;
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    &:hover {
                        span.icon {
                            box-shadow: var(--shadow-type-one);
                        }
                    } 
                    span.icon {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-color: var(--accent-one-shade-two);
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                        transition: box-shadow 280ms ease-in-out;
                        margin: 0 auto;
                        svg {
                            color: #fff;
                            font-size: 50px;
                        }
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    span.primary--text {
                        display: block;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
                span.secondary--text {
                    height: 0px;
                    overflow: hidden;
                    transition: height 300ms ease-in-out;
                    span.secondary--text__content {
                        font-size: 13px;
                        color: var(--medium-grey);
                        display: grid;
                        grid-template-rows: repeat(3, 1fr);
                        row-gap: 20px;
                        position: relative;
                        opacity: 1;

                        transition: opacity 280ms ease-in-out;
                        height: 100%;
                    }
                }
            }
        }
    }

    div.online--poker--section {
        background-color: #fff;
        div.description {
            font-weight: 600;
        }
        ul.game--links {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                flex: 0 1 24%;
                margin-top: 10px;
                &:hover a::after {
                    transform: scaleX(1);
                }
                @media (max-width: 600px) {
                    flex: 0 1 100%;
                }
                a {
                    color: var(--accent-one-shade-three);
                    position: relative;
                    padding-bottom: 5px;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        background-color: var(--accent-one-shade-three);
                        transform: scaleX(0);
                        transition: transform 200ms ease-in-out;
                    }
                }
            }
        }
    }

    div.contact--section {
        button.sign--up--button {
            color: var(--accent-one-shade-two);
            font-size: 18px;
            text-decoration: underline;
            display: block;
            margin: 0 auto;
            background-color: transparent;
            outline: none;
            border: none;
        }
    }
}